node_modules/
.nyc_output/
*.log
*.retry
.yarnclean
.npmrc
*.tgz
.env
.idea
.vscode/*
dotenv/*
docker-compose.dev.yml
npmrc-secrets.yaml
bazel-*
dist/
kube-config.yml
kube-config.backup.yml
docker-config.json
image-pull-secret.yaml
datadog-api-sercret.yml
*.DS_Store
package/
nohup*
.terraform
.sops.yaml
*automation-vault-secret.txt
###!
###!
.gitignore
.gitconfig
.gitattributes
.gitkeep
.DS_Store
.terraform*
.aliases
.bashrc*
*.lock
helmfile.*
helm.*
kube-config.yml
docker-config.json
monorepo_secrets.env              #gitignore
terraform.sl.bluecloud.ibm.com    #gitignore
*.tfstate*
*.[0-9]*
_*
curl_*.txt
.history
*.[0-9]*
_*(.[0-9])?

